@use '../tools' as t;

h1,
h2,
h3 {
    font-family: var(--main-font), sans-serif;
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;
}

h1 {
    font-size: clamp(t.rem(40),
            1.795774647887324rem + 3.004694835680751vw,
            t.rem(72));
    color: #fff;
}

h2 {
    font-size: clamp(t.rem(32),
            1.647887323943662rem + 1.5023474178403755vw,
            t.rem(48));
    color: #000;
}

h3 {
    font-size: clamp(t.rem(24),
            1.323943661971831rem + 0.7511737089201878vw,
            t.rem(32));
    color: #fff;
}

p {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.67;
    color: #000;
    opacity: 0.5;
}