@font-face {
  font-display: swap;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/src/assets/fonts/josefin-sans-v32-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Alata';
  font-style: normal;
  font-weight: 400;
  src: url('/src/assets/fonts/alata-v10-latin-regular.woff2') format('woff2');
}