@use "../tools" as t;

.l-loopstudios {
    --gap: 96px;

    max-inline-size: 1440px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: [page-start] minmax(24px, 1fr)
        [content-start] minmax(0, 1110px)
        [content-end] minmax(24px, 1fr)
        [page-end];
    row-gap: var(--gap);

    &__header,
    &__footer {
        grid-column: page-start / page-end;
    }

    &__main {
        grid-column: content-start / content-end;
        display: grid;
        row-gap: var(--gap);
    }

    @include t.breakpoint(m) {
        --gap: 184px;
    }
}